In [13]:
import pandas as pd

In [ ]:
pd.read_csv?

In [14]:
filename = './../data/memberInfo.csv'
df = pd.read_csv(filename, index_col='id')
df

     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [15]:
print('시리즈와 apply 메서드')

시리즈와 apply 메서드

In [24]:
print( '일반적인 산술 연산' )
# 시리즈에 스칼라값으로 산술연한하면 백터화가 수행되서 개별 요소에 반영됨
df['kor'] + 5

일반적인 산술 연산

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [27]:
def plus5(x):
    return x + 5

In [28]:
print('apply 함수를 적용한 결과')
sq = df['kor'].apply(plus5) 
sq

apply 함수를 적용한 결과

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [29]:
def gob(x, n):
    return n * x

In [30]:
ex = df['kor'].apply(gob, n=2) 
ex

id
김철수    120
홍길동    140
박영희    160
Name: kor, dtype: int64

In [31]:
ex = df['kor'].apply(gob, n=3) 
ex

id
김철수    180
홍길동    210
박영희    240
Name: kor, dtype: int64

In [42]:
df
print(df.shape) # 행,열 튜블
print(df.shape[0])  #행
print(df.shape[1])  #열

(3, 2)
3
2

In [45]:
si = pd.Series([1,2,3])
print(si)
print(si.shape)
print(si.shape[0]) # 시리즈의 요소수

0    1
1    2
2    3
dtype: int64
(3,)
3

In [32]:
def applyByColumn(col):
    mysum = 0
    for item in col:
        mysum += item
    return mysum / df.shape[0]

In [ ]:
df.apply(applyByColumn, axis = 0)

In [ ]:
def applyByRow(row):
    mysum = 0
    for item in row:
        mysum += item
    return mysum / df.shape[1]

In [ ]:
df.apply(applyByRow, axis = 1)